<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/prism.css' %}">
        <title>
            GenZ CodePad
        </title>

        <!-- Required meta tags for other devices-->
        {% comment %} <meta charset="utf-8"> {% endcomment %}
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endcomment %}
        <script>
            window.onload = function(){
                document.getElementById('clickButton').click();
            }
        </script>

    </head>
    <body>
        <nav>
           <h2 class="nav-logo">GenZ CodePad</h2>
           <div class="nav-button-section">
                <button>
                    <a style="color: black;" class="navbar-urls" href="{% url 'login' %}">Login</a>
                </button>
                <button>
                    <a class="navbar-urls" href="{% url 'register' %}">Register</a>
                </button>
                <button>
                    <a style="color: black;" class="navbar-urls" href="{% url 'AboutUs' %}">About US</a>
                </button>
           </div>
        </nav>  

        <div class="controls">
            <button>Run</button>
            <select name="lang" id="">
                <option value="cpp">Python3</option>
                <option value="c">C</option>
                <option value="python">C++</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
            </select>
        </div>
        
        
        <!-- <button type="submit" class="code_run">Submit</button>  -->
        <form action="/runcode" method="post">
            {% csrf_token %}
            <div class="codearea">
                <textarea class="code_editor" name="codearea" placeholder="" >
{% if code %}{{code}}
{% else %}# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.

def sum(a, b):
    return (a + b)

a = 10
b = 20

print(f'Sum of {a} and {b} is {sum(a, b)}'){% endif %}
                </textarea>
            </div>
            <div class="codeoutput">  
                <label for="codeoutput">Output</label><br>
                <textarea class="code_output" name="codeoutput" rows="6" disabled>{{output}}</textarea>
            </div>
            <button type="submit" class="code_run">Submit</button>
        </form>

        <form action="/sst" method="post">
            {% csrf_token %}
            <button type="submit">Enable Speech to Text</button>
        </form>
    </body>
    <script src="{% static 'js/prism.js' %}"></script>
</html>
