<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/prism.css' %}">
        <title>
            GenZ CodePad
        </title>

        <!-- Required meta tags for other devices-->
        {% comment %} <meta charset="utf-8"> {% endcomment %}
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endcomment %}
        

    </head>
    <body>
        <nav>
           <h2 class="nav-logo">GenZ CodePad</h2>
           <div class="nav-button-section">
                <button>
                    <a style="color: black;" class="navbar-urls" href="{% url 'login' %}">Login</a>
                </button>
                <button>
                    <a class="navbar-urls" href="{% url 'register' %}">Register</a>
                </button>
                <button>
                    <a style="color: black;" class="navbar-urls" href="{% url 'AboutUs' %}">About US</a>
                </button>
           </div>
        </nav>  

        <div class="controls">
            <button>Run</button>
            <select name="lang" id="">
                <option value="cpp">C++</option>
                <option value="c">C</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="js">Js</option>
            </select>
        </div>
        
        
        <!-- <button type="submit" class="code_run">Submit</button>  -->
        <form action="/runcode" method="post">
            {% csrf_token %}
            <div class="codearea">
                <textarea class="code_editor" name="codearea" placeholder="" >
{% if code %}
{{code}}
{% else %}
#include <iostream>
using namespace std;
                    
int main() {
    return 0;
}
{% endif %}
                </textarea>
            </div>
        </form>
        <div class="codeoutput">
            <!-- <label for="codeoutput">Output</label><br> -->
            <textarea class="code_output" name="codeoutput" disabled>{{output}}</textarea>
        </div>
    </body>
    <script src="{% static 'js/prism.js' %}"></script>
</html>
