<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
        <title>
            GenZ CodePad
        </title>

        <!-- Required meta tags for other devices-->
        {% comment %} <meta charset="utf-8"> {% endcomment %}
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endcomment %}
        

    </head>
    <body>
        <nav>
           <h2 class="nav-logo">GenZ CodePad</h2>
           <div class="nav-button-section">
                <button>
                    <a style="color: black;" class="navbar-urls" href="{% url 'login' %}">Login</a>
                </button>
                <button>
                    <a class="navbar-urls" href="{% url 'register' %}">Register</a>
                </button>
                <button>
                    <a style="color: black;" class="navbar-urls" href="{% url 'AboutUs' %}">About US</a>
                </button>
           </div>
        </nav>  
        

        <form action="/runcode" method="post">
            {% csrf_token %}

            <div class="codearea">  
                <label for="codearea">Code Area</label><br>
                <textarea class="code_editor" name="codearea" placeholder="Start coding from here..." >{{code}}</textarea>
            </div>

            <div class="codeoutput">  
                <label for="codeoutput">Output</label><br>
                <textarea class="code_output" name="codeoutput" rows="6" disabled>{{output}}</textarea>
            </div>
            
            <button type="submit" class="code_run">Submit</button

        </form>
        

    </body>
</html>
