<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style3.css">
<title> Registration form </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>REGISTER</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
		  <input type="password" placeholder="password"/>
          <button>Register</button>
          <p class="message"> Have an account <a href="CODEPAD.html">Login </a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>