@font-face {
    font-family: "Fira Code";
    src: url("../FiraCode-Regular.ttf");
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: "Fira Code";
    box-sizing: border-box;
}

nav {
    height: 7vh;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a2332!important;
}

.nav-logo {
    color: white;
}

.nav-button-section > button {
    border: none;
    padding: 8px 14px;
    margin: 10px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

a.navbar-urls {
    color: white;
    text-decoration: none;
}

.nav-button-section > button:nth-child(1) {
    background: chartreuse;
}

.nav-button-section > button:nth-child(2) {
    background: #182233;
}

/* Code editor controls */
.controls {
    display: block;
    width: 80%;
    text-align: right;
    margin: auto;
    margin-top: 50px;
    /* justify-content: center; */
}

.controls * {
    margin-left: 5px;
}

.controls button {
    background-color: white;
    border: 1px solid black;
    padding: 2px 5px 2px 5px;

}

.controls select[name="lang"] {
    width: 100px;
    outline: none;
    border: 1px solid black;
}

/* For TextArea - Code Editor */
.code_editor{
    width: 80%;
    resize: none;
    height: 80vh;
    padding: 5px;
    font-family: "Fira Code", sans-serif;
}

/* For TextArea - Output */
.codeoutput{
    width: 100%;
    margin: auto;
}

.code_output {
    width: 80%;
    height: 20vh;
    margin: auto;
    margin-top: 10px;
    display: block;
    resize: none;
}

/* For Button - Run Code */
.code_run{
    
}

.codearea {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}